@charset "utf-8";
/* CSS Document */

body {
	background-color: #d5dcee;
	background-image:url(../images/background.jpg);
	background-position:top;
	background-repeat:repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	}
	
#wrapper {
	width: 961px;
	margin: auto;
	}
	
#banner {
	text-align:center;
	padding-bottom:10px;
	}
	
#globalNav {
	background-image:url(../images/navBG.jpg);
	background-position:top;
	background-repeat:no-repeat;
	height: 30px;
	font-size: .9em;
	color:#999999;
	padding: 10px 0 5px 0px;
	text-align:center;
	}
	
#globalNav a {
	color: #999999;
	text-decoration:none;
	text-transform:uppercase;
	margin-right: 5px;
	}
	
#globalNav a:hover {
	color: #002dac;
	}
	
#content {
	background-color:#FFFFFF;
	height: 300px;
	padding: 20px;
	border-bottom:1px solid #002dac;
	}

#content h1 {
	font-size:1.5em;
	color: #002dac;
	}
		
#content p {
	font-size:1.0em;
	line-height: 1.7em;
	}
	
#sidebar {
	width: 200px;
	font-size:.8em;
	color: #999;
	float: left;
	padding: 10px;
	}